.header {
  background-color: #1e1e1e;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header h1 {
  color: #bb86fc;
}

.header nav a {
  color: #f0f0f0;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.header nav a:hover {
  color: #bb86fc;
}
