body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #121212; /* 🔥 midnight dark */
  color: #f0f0f0;
}

.App {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}
:root {
  --bg: #ffffff;
  --text: #000000;
}

[data-theme='dark'] {
  --bg: #121212;
  --text: #ffffff;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}
